etc
lib/*.lib
bin/*
prop
INSTALL
Idle
rick
Tarfiles
PropTar
PVM
Old
LICENSE*ACCEPTED
MAILHOME*
sac
*.o

*.a

junk*
*.pdf
*.asc
*.Z
*.gz
*.tgz
src/sub/sub/parser.c
*.segd
*.ascii
*.zip
demo/
/dist
*.exp
MISSING_BINARIES.md
/zau/thirdparty/scons
/zau/thirdparty/seismic-canvas

/documents
